@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Shadows+Into+Light&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url("./assets/Background\ gameover.jpg");
    background-size: cover;
    position: relative;
}
#retry{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-right: 1400px;
    position: relative;
    top: 350px;
    left: 700px;
    font-family: 'Shadows Into Light', cursive;
    color: white;
    animation: blink 5s infinite;
    -webkit-animation: blink 5s infinite;
    cursor: pointer;
}
#loss{
    position: relative;
    display: flex;
    width: 70%;
    height: auto;
    left: 16%;
    top: 350px;  
    justify-content: center;
    text-align: center;
    font-size: 50px;
    font-weight: bolder; 
    font-family: 'Shadows Into Light', cursive;
    color: white;
    animation: blink 5s infinite;
    -webkit-animation: blink 5s infinite;
}
@-webkit-keyframes blink {
    20%,
    24%,
    55% {
      color: #111;
      text-shadow: none;
    }
  
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
    text-shadow: 0 0 5px #ff0500, 0 0 15px #ff0500, 0 0 20px #ff0500, 0 0 40px #ff0500, 0 0 60px #ff0000, 0 0 10px #ff0d00, 0 0 98px #ff0000;
      color: #ffffff;
    }
  }
  
  @keyframes blink {
    20%,
    24%,
    55% {
      color: #111;
      text-shadow: none;
    }
  
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
    text-shadow: 0 0 5px #ff0500, 0 0 15px #ff0500, 0 0 20px #ff0500, 0 0 40px #ff0500, 0 0 60px #ff0000, 0 0 10px #ff0d00, 0 0 98px #ff0000;
      color: #ffffff;
    }
}