@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Shadows+Into+Light&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url("./assets/backgroundwin.png");
    background-size: cover;
    position: relative;
}
#retry{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-right: 1400px;
  position: relative;
  top: 350px;
  left: 700px;
  font-family: 'Shadows Into Light', cursive;
  color: white;
  animation: blink 5s infinite;
  -webkit-animation: blink 5s infinite;
  cursor: pointer;
}
#win{
    position: relative;
    display: flex;
    width: 70%;
    height: auto;
    left: 16%;
    top: 350px;  
    justify-content: center;
    text-align: center;
    font-size: 50px;
    font-weight: bolder; 
    font-family: 'Shadows Into Light', cursive;
    color: white;
    animation: blink 5s infinite;
    -webkit-animation: blink 5s infinite;
}
@-webkit-keyframes blink {
    20%,
    24%,
    55% {
      color: #111;
      text-shadow: none;
    }
  
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
    text-shadow: 0 0 5px #004cff, 0 0 15px #4000ff, 0 0 20px #2b00ff, 0 0 40px #0000ff, 0 0 60px #0008ff, 0 0 10px #002aff, 0 0 98px #2b00ff;
      color: #ffffff;
    }
  }
  
  @keyframes blink {
    20%,
    24%,
    55% {
      color: #111;
      text-shadow: none;
    }
  
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
    text-shadow: 0 0 5px #004cff, 0 0 15px #4000ff, 0 0 20px #2b00ff, 0 0 40px #0000ff, 0 0 60px #0008ff, 0 0 10px #002aff, 0 0 98px #2b00ff;
    color: #ffffff;
    }
}